{{#ember-remodal as |m|}}
  {{#m.open}}
    <button class='btn btn-primary'>OPEN A MODAL</button>
  {{/m.open}}

  <div class="content">
    <p>This is content placed inside a modal's block</p>
    <img src="http://loremflickr.com/320/240" alt="random image" />
  </div>

  <div class="actions">
    {{#m.cancel}}
      <button class='btn btn-primary'>Cancel</button>
    {{/m.cancel}}

    {{#m.confirm}}
      <button class='btn btn-success'>OK</button>
    {{/m.confirm}}
  </div>
{{/ember-remodal}}
