{{ember-remodal forService=true name='my-awesome-modal'}}
<button {{action 'openMyAwesomeModal'}}>Open!</button>

{{ember-remodal forService=true name='my-second-modal'}}
<button {{action 'openMySecondModal'}}>Open!</button>
