{{#ember-remodal title='This is a Title' as |modal|}}
  {{#modal.open}}
    <button class='btn btn-primary'>OPEN A MODAL</button>
  {{/modal.open}}

  <p>This is content placed inside an ember-remodal's block</p>

  {{#modal.cancel}}
    <button class='btn btn-primary'>Cancel</button>
  {{/modal.cancel}}

  {{#modal.confirm}}
    <button class='btn btn-success'>OK</button>
  {{/modal.confirm}}
{{/ember-remodal}}
