{{#ember-remodal title='This is a Title'}}
  {{#er-open-button}}
    <button class='btn btn-primary'>OPEN A MODAL</button>
  {{/er-open-button}}

  <p>This is content placed inside an ember-remodal's block</p>

  {{#er-cancel-button}}
    <button class='btn btn-primary'>Cancel</button>
  {{/er-cancel-button}}

  {{#er-confirm-button}}
    <button class='btn btn-success'>OK</button>
  {{/er-confirm-button}}
{{/ember-remodal}}
