<div class="content">
  <h3>Action Hooks</h3>

  <ul>
    <li><code>onOpen</code> is called when a modal has been opened.</li>
    <li>
      <code>onClose</code> is called when a modal has been closed for
      <strong>any</strong> reason.
    </li>
    <li>
      <code>onConfirm</code> is called when a modal has been closed via it's
      `confirm` button.
    </li>
    <li>
      <code>onCancel</code> is called when a modal has been closed via it's `cancel`
      button.
    </li>

  </ul>

  {{link-to 'Examples Here' 'inline.with-actions'}}
</div>
