<div class="content">
  <h3>Content Options</h3>
  <ul>
    <li>
      <code>title</code>: If provided, displayed at the top of a modal as an
      <code>h2</code>
    </li>
    <li>
      <code>text</code>: If provided, displayed under the title as a
      <code>p</code>
    </li>
    <li>
      Block Content: Content placed inside `ember-remodal`'s block will be
      rendered below the `title`/`text`, or by itself if no `title`/`text`
      are provided.
    </li>
  </ul>
</div>
