<div class="content">
  <h3>Content Options</h3>
  <ul>
    <li>
      <code>title</code>: If provided, displayed at the top of a modal as an
      <code>h2</code>
    </li>
    <li>
      <code>text</code>: If provided, displayed under the title as a
      <code>p</code>
    </li>
    <li>
      Block Content: Content placed inside <code>ember-remodal</code>'s block
      will be rendered below the <code>title</code>/<code>text</code>, or by
      itself if no <code>title</code>/<code>text</code> are provided.
    </li>
  </ul>

  <p>
    Note: You should probably not use <code>title</code> and <code>text</code>
    to manage the <code>state</code> of modal content.
    {{link-to "See here for more info" "state"}}.
  </p>
</div>
