<div class="content">
  <h3>Remodal Options</h3>
  <p>
    These
    <a href="https://github.com/VodkaBears/Remodal#options">
      remodal options
    </a>
    are supported:
  </p>

  <ul>
    <li><code>closeOnOutsideClick</code>: defaults to <code>true</code></li>
    <li><code>closeOnEscape</code>: defaults to <code>true</code></li>
    <li><code>closeOnCancel</code>: defaults to <code>true</code></li>
    <li><code>closeOnConfirm</code>: defaults to an empty string</li>
    <li><code>modifier</code>: defaults to <code>true</code></li>
    <li>
      <code>hashTracking</code>: defaults to <code>false</code> -
      You probably want to leave this one alone.
      It affects Ember's routes/browser-history. It's there if you want to mess.
    </li>
  </ul>
</div>
