<div class="content">
  <h3>Remodal Options</h3>
  <p>
    These
    <a href="https://github.com/VodkaBears/Remodal#options">
      remodal options
    </a>
    are supported:
  </p>

  <ul>
    <li>
      <code>closeOnOutsideClick</code>: defaults to <code>true</code>.
      This is handled in ember-remodal and is not actually passed to Remodal.
    </li>
    <li>
      <code>closeOnEscape</code>: defaults to <code>true</code>.
      This is handled in ember-remodal and is not actually passed to Remodal.
    </li>
    <li>
      <code>closeOnCancel</code>: defaults to <code>true</code>.
      This is handled in ember-remodal and is not actually passed to Remodal.
    </li>
    <li>
      <code>closeOnConfirm</code>: defaults to an empty string.
      This is handled in ember-remodal and is not actually passed to Remodal.
    </li>
    <li>
      <code>modifier</code>: defaults to <code>true</code>.
      This is passed directly to remodal.
    </li>
    <li>
      <code>hashTracking</code>: defaults to <code>false</code>.
      This is passed directly to remodal. You probably want to leave this one
      alone. It affects Ember's routes and browser-history. It's there if you
      want to mess.
    </li>
  </ul>
</div>
