- <code>modalClasses</code>: If set, this string value will be added to the
classes on the main modal window.
<li>
  <code>outerButtonClasses</code>: If provided, this string value is added
  to the <code>class</code> attribute on the built-in
  <code>openButton</code> and <code>openLink</code>.
</li>
<li>
  <code>innerButtonClasses</code>: If provided, this string value is added
  to the <code>class</code> attribute on the built-in
  <code>confirmButton</code> and the <code>cancelButton</code>.
</li>
