<div class="content">
  {{ember-remodal
    openButton='Open Modal'
    confirmButton='OK'
    title='A Title!'
    text='lorem ipsum dolar sit amet'
    buttonClasses='btn'
    openButtonClasses='btn-primary'
    confirmButtonClasses='btn-success'
  }}

  {{#code-block language='handlebars'}}
  \{{ember-remodal
    openButton='Open Modal'
    confirmButton='OK'
    title='A Title!'
    text='lorem ipsum dolar sit amet'
    buttonClasses='btn'
    openButtonClasses='btn-primary'
    confirmButtonClasses='btn-success'
  }}
  {{/code-block}}
</div>
