<div class="content">
  {{#ember-remodal title="Words and an Image" dataTestId="modal" as |m|}}
    {{#m.open}}
      <button class="btn btn-primary" data-test-id="openButton">Open!</button>
    {{/m.open}}

    <div class="content">
      <p>It's amazing how many photos on flickr are photos of cats.</p>
      <img src="http://loremflickr.com/320/240" alt="random image">
    </div>

    <div class="actions">
      {{#m.cancel}}
        <button class="btn btn-danger" data-test-id="cancelButton">Cancel!</button>
      {{/m.cancel}}

      {{#m.confirm}}
        <button class="btn btn-success" data-test-id="confirmButton">Confirm!</button>
      {{/m.confirm}}
    </div>
  {{/ember-remodal}}

{{#code-block language="handlebars"}}
  \{{#ember-remodal title="Words and an Image" as |m|}}
    \{{#m.open}}
      &lt;button class="btn btn-primary"&gt;Open!&lt;/button&gt;
    \{{/m.open}}

    &lt;div class="content"&gt;
      &lt;p&gt;It's amazing how many photos on flickr are photos of cats.&lt;/p&gt;
      &lt;img src="http://loremflickr.com/320/240" alt="random image" /&gt;
    &lt;/div&gt;

    &lt;div class="actions"&gt;
      \{{#m.cancel}}
        &lt;button class="btn btn-danger"&gt;Cancel!&lt;/button&gt;
      \{{/m.cancel}}

      \{{#m.confirm}}
        &lt;button class="btn btn-success"&gt;Confirm!&lt;/button&gt;
      \{{/m.confirm}}
    &lt;/div&gt;
  \{{/ember-remodal}}
{{/code-block}}
</div>
