<h3>Legacy Components</h3>

<p>
  These work in ember versions 1.13.x and up. These are deprecated as of
  ember-remodal 0.1.0 and removed in ember-remodal 1.0.0
</p>

<div class="components">
  <ul>
    <li>
      <h3>er-open-button</h3>

      <p>
        Allows you to specify your own HTML to act as the
        <code>open button</code> for a modal, firing the <code>onOpen</code>
        action once the <code>open</code> animation is complete.
      </p>

      <p>
        <strong>**Note**</strong> This component depends on
        <a href="https://github.com/yapplabs/ember-wormhole">ember-wormhole</a>
        which is <strong>not</strong> installed automatically. Install it by
        running <code>ember install ember-wormhole</code>. I would love to
        remove the dependency on ember-wormhole. If you have a suggestion,
        please let me know
        <a href="https://github.com/sethbrasile/ember-remodal/issues/17">here</a>.
      </p>

{{#code-block language='handlebars'}}
  &#123;&#123;#ember-remodal&#125;&#125;
    &#123;&#123;#er-open-button&#125;&#125;
      &#123;&#123;!-- Anything you put here will open the modal on click and fire the 'onOpen' action --&#125;&#125;
    &#123;&#123;/er-open-button&#125;&#125;
  &#123;&#123;/ember-remodal&#125;&#125;
{{/code-block}}

    </li>
    <li>
      <h3>er-confirm-button</h3>

      <p>
        Allows you to specify your own HTML to act as the
        <code>confirm button</code>, closing a modal when clicked and firing
        the <code>onConfirm</code> action once the <code>close</code>
        animation is complete.
      </p>

{{#code-block language='handlebars'}}
  &#123;&#123;#ember-remodal&#125;&#125;
    &#123;&#123;#er-confirm-button&#125;&#125;
      &#123;&#123;!-- Anything you put here will close the modal on click and fire the 'onConfirm' action --&#125;&#125;
    &#123;&#123;/er-confirm-button&#125;&#125;
  &#123;&#123;/ember-remodal&#125;&#125;
{{/code-block}}

    </li>

    <li>
      <h3>er-cancel-button</h3>

      <p>
        Allows you to specify your own HTML to act as the
        <code>cancel button</code>, closing a modal when clicked and firing
        the <code>onCancel</code> action once the <code>close</code>
        animation is complete.
      </p>

{{#code-block language='handlebars'}}
  &#123;&#123;#ember-remodal&#125;&#125;
    &#123;&#123;#er-cancel-button&#125;&#125;
      &#123;&#123;!-- Anything you put here will close the modal on click and fire the 'onCancel' action --&#125;&#125;
    &#123;&#123;/er-cancel-button&#125;&#125;
  &#123;&#123;/ember-remodal&#125;&#125;
{{/code-block}}

    </li>
  </ul>
</div>
