html,
body
  background-color: $background
  font-family: 'Open Sans', sans-serif
  min-height: 100%
  min-width: 100%

.main
  margin: 0 auto
  max-width: 85%
  padding-bottom: 4em

  .content
    button
      margin: 2em 0

    pre
      text-align: left
