<div class="content">
  <p>
    You can refer to a modal by it's name. A modal's default name is
    <code>ember-remodal</code>.
  </p>

  <div class="content">
    {{code-snippet name='service-2.js'}}
  </div>

  <p>
    You can name a modal. This allows multiple modals with different content to
    exist at the same time. Keep in mind that in order to interact with a named
    modal, you will always refer to it by name.
  </p>

  <div class="content">
    {{code-snippet name='service-3.hbs'}}
    {{code-snippet name='service-3.js'}}
  </div>
</div>
