<div class="content">
  <p>
    Generally, you will set properties on a modal when the modal is defined in a
    template. It is also possible to set properties on a modal programmatically.
  </p>

  <div class="content">
    {{code-snippet name='service-4.js'}}
  </div>
</div>
