<div class="content">
  <p>
    If you would like to open and close a modal programmatically, you need to use
    ember-remodal as a service. The <code>remodal</code> service works with both
    inline and block form.
  </p>

  <p>
    By setting <code>forService</code> to <code>true</code>, the modal is
    registered with the <code>remodal</code> service. Keep in mind that in order
    for the <code>remodal</code> service to use a modal, that modal must
    currently be rendered.
  </p>

  <p>
    Though you can put a modal in any template, a common pattern would be to
    place an instance of <code>ember-remodal</code> in your application
    template. This pattern is useful in situations such as when you have a modal
    with a specific purpose that pops open and closed throughout your
    application, such as a "loading" modal.
  </p>

  <p>
    Remember to <code>inject</code> the service anywhere
    you want to use it.
  </p>

  <div class="content">
{{#code-block language='handlebars'}}
  \{{ember-remodal forService=true}}

  &lt;button \{{action 'openModal'}}&gt;Open!&lt;/button&gt;
{{/code-block}}

{{#code-block language='javascript'}}
  export default Ember.Whatever.extend({
    remodal: Ember.inject.service(),

    closeModal() {
      this.get('remodal').close();
    },

    actions: {
      openModal() {
        this.get('remodal').open();
      }
    }
  });
{{/code-block}}
  </div>
</div>
