<div class="content">
  <p>
    If you would like to open and close a modal programmatically, you need to use
    ember-remodal as a service. The <code>remodal</code> service works with both
    inline and block form.
  </p>

  <p>
    By setting <code>forService</code> to <code>true</code>, the modal is
    registered with the <code>remodal</code> service. Keep in mind that in order
    for the <code>remodal</code> service to use a modal, it must currently be
    rendered. A common pattern would be to place an instance of
    <code>ember-remodal</code> in your application template. This pattern is
    useful in situations such as when you have a modal with a specific purpose
    that pops open and closed throughout your application, such as a "loading"
    modal.
  </p>

  <div class="content">
    {{code-snippet name='service-1.hbs'}}
    {{code-snippet name='service-1.js'}}
  </div>
</div>
