<h1>Block Form</h1>

<p>
  When using ember-remodal in block form, anything you put inside the block is
  rendered inside the modal. Note that <code>text</code> and <code>title</code>
  still work and appear above the block content.
</p>

<div class="content">
  {{#ember-remodal
    openButton='Click for a Random Image'
    title='Random Image'
    text='Random Image!'
  }}
    <img src="http://loremflickr.com/320/240" alt="random image" />
  {{/ember-remodal}}

  {{code-snippet name='simple-block.hbs'}}
</div>
