<h1>Block Form</h1>

<p>
  In block form, ember-remodal behaves identically to the inline form, except
  that anything inside the block is rendered inside the modal. Note that
  <code>text</code> and <code>title</code> appear above the block content.
</p>

<div class="content">
  {{#ember-remodal
    openButton='Click for a Random Image'
    title='Random Image'
    text='Random Image!'
  }}
    <img src="http://loremflickr.com/320/240" alt="random image" />
  {{/ember-remodal}}

{{#code-block language='handlebars'}}
  \{{#ember-remodal
    openButton='Click for a Random Image'
    title='Random Image'
    text='Random Image!'
  }}
    &lt;img src="http://loremflickr.com/320/240" alt="random image" /&gt;
  \{{/ember-remodal}}
{{/code-block}}
</div>
