<h1>ember remodal</h1>
<h3>An intensely usable modal component for Ember.js</h3>

<hr />

<p>
  Modal libraries often encourage you to mix your modals up with application
  state/logic. A modal should be a simple presentational technique and nothing
  more. ember-remodal encourages you to keep state/logic elsewhere.
</p>

<div class='content'>
  {{#ember-remodal openButton='Open A Modal'}}
    <p>
      Anything placed inside a modal's block will be rendered inside
      the modal.
    </p>
    <img src="http://loremflickr.com/320/240" alt="random image" />
  {{/ember-remodal}}

{{#code-block language='handlebars'}}
  \{{#ember-remodal openButton='Open A Modal'}}
    &lt;p&gt;Anything placed inside a modal's block will be rendered inside the modal.&lt;/p&gt;
    &lt;img src="http://loremflickr.com/320/240" alt="random image" /&gt;
  \{{/ember-remodal}}
{{/code-block}}
</div>

<hr />

<div class="buy-beer content">
  <h5>Buy Seth Brasile a Beer</h5>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="QDPUK852HN9U2">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>
