<h1>ember remodal</h1>
<div class='content'>
  {{#ember-remodal as |m|}}
    {{#m.open}}
      <button class='btn btn-primary'>OPEN A MODAL</button>
    {{/m.open}}

    <div class="content">
      <p>
        Anything placed inside a modal's block will be rendered inside
        the modal.
      </p>
      <img src="http://loremflickr.com/320/240" alt="random image" />
    </div>

    <div class="actions">
      {{#m.cancel}}
        <button class='btn btn-primary'>Cancel</button>
      {{/m.cancel}}

      {{#m.confirm}}
        <button class='btn btn-success'>OK</button>
      {{/m.confirm}}
    </div>
  {{/ember-remodal}}

  {{code-snippet name="index.hbs"}}
</div>
