<h1>Inline Form</h1>

<ul class="nav nav-tabs">
  {{#link-to 'inline.simple' tagName='li' classNames='link'}}
    <a>Simple Inline</a>
  {{/link-to}}

  {{#link-to 'inline.with-styles' tagName='li' classNames='link'}}
    <a>With Button Styles</a>
  {{/link-to}}

  {{#link-to 'inline.with-actions' tagName='li' classNames='link'}}
    <a>With Actions</a>
  {{/link-to}}
</ul>

{{outlet}}
