<h1>As a Service</h1>

<p>If you would like to open and close a modal programmatically, you want to use
ember-remodal as a service.</p>

<div class="content">
  {{ember-remodal
    openButton='Open Modal'
    confirmButton='OK'
    title='A Title!'
    text='lorem ipsum dolar sit amet'
  }}

  {{code-snippet name='simplest.hbs'}}
</div>
