<h1>As a Service</h1>

<ul class="nav nav-tabs">
  {{#link-to "service.simple" tagName="li" classNames="link"}}
    <a>As a Service</a>
  {{/link-to}}

  {{#link-to "service.names" tagName="li" classNames="link"}}
    <a>Named Modals</a>
  {{/link-to}}

  {{#link-to "service.promises" tagName="li" classNames="link"}}
    <a>Promises</a>
  {{/link-to}}

  {{#link-to "service.properties" tagName="li" classNames="link"}}
    <a>Setting Properties</a>
  {{/link-to}}
</ul>

{{outlet}}
