<div class="content">
  <h1>Handling State</h1>

  <p>
    Ember-remodal strives to keep itself out of your application state. The only
    state that ember-remodal cares about, is whether a given modal is opened or
    closed.
  </p>

  <p>
    It turns out that folks are not accustomed to this concept, and consistently
    look for ways to push application concerns into their modals (probably
    because past modal libraries trained them to think this way).
  </p>

  <p>
    Think of ember-remodal's {{link-to 'block-form' 'block'}} as any other html
    element (like a <code>div</code>, as far as state is concerned), and handle
    your application state in a controller, component, or service.
  </p>
</div>

<ul class="nav nav-tabs">
  {{#link-to 'state.simple' tagName='li' classNames='link'}}
    <a>Simple</a>
  {{/link-to}}

  {{#link-to 'state.complex' tagName='li' classNames='link'}}
    <a>Complex (with objects/models)</a>
  {{/link-to}}
</ul>

{{outlet}}
