<div class="content">
  <h1>Upgrading to 1.0.0+</h1>

  <p>
    If you are on Ember 2.3+, you can upgrade to ember-remodal 1.0.0+.
  </p>

   <p>
     To upgrade, just upgrade ember-remodal to the newest less-than-1.0 version,
     make sure all deprecation warnings are gone, then you're all set to upgrade.
   </p>
</div>
